.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: sans-serif;
  font-size: 1.8rem;
}

.nav-list > li {
  padding: 2rem;
}

.nav-link {
  padding: 2rem;
  text-decoration: none;
  opacity: 0.5;
}

.nav-link:visited, .nav-link:active, .nav-link:link {
  color: blue;
}

.nav-link:hover {
  color: darkblue;
  border: 1px solid darkblue;
  transition: 0.5s;
  opacity: 1;
}

.users {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.user {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid darkblue;
}