<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
  <body>
    <div th:replace="navigation :: navigation"></div>
    <section class="users">
      <div class="user" th:each="user : ${users}">
        <p th:text="${user.username}"></p>
        <p th:text="${user.email}"></p>
        <a th:href="@{/users/edit/__${user.username}__}">Edit</a>
        <form method="post" th:action="@{/users/delete/__${user.username}__}">
          <button>DELETE ME!</button>
        </form>
      </div>
    </section>
  </body>
</html>